<% @tweets.each do |tweet| %>

	<% tweet_media = tweet.attrs[:entities][:media] %>
	<% if tweet_media != nil %>
		<!-- <h1><%= tweet.attrs[:text] %></h1> -->
		<% image_path = tweet_media.first[:media_url] %>
		<%= image_tag(image_path) %>
	<% end %>
	
<% end %>


<% @tweets.each do |tweet| %>
<% #tweet.attrs.to_yaml %>
<% end %>