<!-- <h1>About this project</h1> -->
<h2>A real-time feed of aerial photos of Earth sent from the <a href="http://en.wikipedia.org/wiki/ISS">International Space Station</a>.</h2>
<p>The collection of images in <%= link_to('the gallery', root_path) %> are scraped and curated from the <a href="https://twitter.com/Cmdr_Hadfield">Twitter feed</a> of ISS astronaut, Commander Chris Hadfield.</p>
<p>You can follow Commander Hadfield’s fascinating tweets <a href="https://twitter.com/Cmdr_Hadfield">over here</a>.</p>
<p>This site is being designed and developed iteratively. Stay tuned for fairly regular updates.</p>