<!-- <h1>About this project</h1> -->
<h2>A real-time feed of aerial photos of Earth from the <a href="http://en.wikipedia.org/wiki/ISS">International Space Station</a>.</h2>
<p>The collection of images in <%= link_to('the gallery', root_path) %> are scraped and curated from the <a href="https://twitter.com/Cmdr_Hadfield">Twitter feed</a> of ISS astronaut, <a href="http://en.wikipedia.org/wiki/Chris_Hadfield">Commander Chris Hadfield</a>.</p>
<p>You can follow Commander Hadfield’s fascinating tweets <a href="https://twitter.com/Cmdr_Hadfield">over here</a>.</p>
<p>This site is being designed and developed iteratively. Stay tuned for updates. Photography by <%= link_to('Chris Hadfield', 'http://twitter.com/Cmdr_Hadfield') %> and crew aboard the ISS.</p>