<section class="overview">
<h2>A feed of aerial photos of Earth from the <a href="http://en.wikipedia.org/wiki/ISS" target="_blank" class="highlight_title">International Space Station</a>.</h2>

<p>This site is a collection of wonderful <%= link_to('photography of Earth', root_path) %> taken by astronauts in orbit aboard the ISS.</p>


<p>The images in <%= link_to('the gallery', root_path) %> are automatically scraped and curated from the Twitter feeds of ISS astronauts &mdash; 

<p>Expedition 37: <a href="https://twitter.com/AstroRM">Rick Mastracchio</a> &amp; <a href="https://twitter.com/Astro_Wakata">Koichi Wakata</a> (current)</br>
Expedition 36: <a href="https://twitter.com/AstroKarenN">Karen L. Nyberg</a></br>
Expedition 35: <a href="https://twitter.com/Chris_Hadfield">Commander Chris Hadfield</a></p>
</ul>

</section>