// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/reset";
@import "vars";

html, 
body { 
	//width:100%; height:100%; 
}

.about {

	@media screen and (min-width: 1200px) {
		background:#000;
		background-image: image-url('nightsky.jpg');
		background-size: 100%;
		background-repeat: no-repeat;
	}

	h2 {
		max-width: 600px;
		font-size: 1.25em;
		font-weight: 600;
		padding: 20px;
		color: $heading;
		margin-bottom:10px;
		@media screen and (min-width: 600px) { 
			font-size: 2em; 
		}

		@media screen and (min-width: 1200px) {
			padding: 20px 20px 20px 30px;
			margin-bottom:20px;
		}
	}

	h2 a.highlight_title {
		color:$links_standout;
	}

	h2 a,
	p a {
		color: $links;
	}

	h2 a:hover,
	p a:hover {
		color:$links_standout;
	}

	p {
		font-size: 1em;
		line-height:1.45;
		font-weight: 400;
		padding: 20px 20px 10px 20px;
		max-width:550px;

		@media screen and (min-width: 600px) {
			font-size: 1em;
		}

		@media screen and (min-width: 1200px) {
			padding: 20px 0 10px 30px;
		}
	}

	footer {
		@media screen and (min-width: 600px) { 
			position:absolute;
			bottom:0;
			right:20px;
		}
	}

	footer p {

		font-size: 1em;
		text-align:left;

		@media screen and (min-width: 600px) { 
			text-align:right;
			max-width:none;
		}
	}

	#canvas { 
		background: #ccc;
		display:none;
		background: transparent;
		position:absolute;
		top:0; left:0;

		@media screen and (min-width: 1200px) {
			display:block;
			z-index:-1;
		}
	}

	.overview {
		z-index:2;
	}
}