// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/reset";
@import "vars";


.the_view {
	.gallery {
		display: block;
		height:auto;
		clear:left;
	}

	ul.tweets {
		overflow: hidden;
	}

	ul.tweets li {
		display:block;
		float:left;
		
		width:100%;

		@media screen and (min-width: 600px) { width: 50%; }
		@media screen and (min-width: 1200px) { width: 33.33333333333%; }
		@media screen and (min-width: 1800px) { width: 25%; }
	}

	.aspectwrapper {
		width: 100%;
		position: relative;
	}

	.aspectwrapper:after {
		padding-top:66%;
		display: block;
		content: '';

		@media screen and (min-width: 600px) { padding-top: 66%; }
	}

	.tweet_media {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;

		@media screen and (min-width: 600px) { 

		}
	}

	.tweet_media:hover {

		cursor: pointer;

		.tweet {
			-webkit-transition: opacity .15s ease;
	    -moz-transition: opactiy .15s ease;
	    -ms-transition: opacity .15s ease;
	    -o-transition: opacity .15s ease;
	    transition: opacity .15s ease;
			opacity: 1;
		}
	}

	.tweet {
		display:block;
		// height:90px;
		background-color: $background;
		position: absolute;
		bottom: 0px;
		width: 100%;
		opacity: 0;

		@media screen and (min-width: 600px) { opacity: 0; }
	}

	.dated {
		color:$links_standout;
	}

	.pagination {
		margin-top: 20px;
	}

	.pagination p a {
		text-transform: uppercase;
		font-size: 1em;
		text-decoration: none;
	}

	.pagination p a:hover {
		text-decoration: underline;
	}
}




