// Place all the styles related to the References controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "vars";

.references {

	h2 {
		max-width: 620px;
		font-size: 1.25em;
		font-weight: 600;
		padding: 20px;
		color: $heading;
		margin-bottom:10px;

		@media screen and (min-width: 600px) { 
			font-size: 2em; 
		}

		@media screen and (min-width: 1200px) {
			padding: 20px 20px 20px 30px;
		}
	}

	h3 {
		padding-bottom:5px;
	}

	#iss-video {
		margin-top:25px;
	}

	.the-iss {
		width:100%;
	}

	.orbits-per-day {
		color:#30C06A;
	}

	.speed {
		color:#2ebae9;
	}

	p {
		font-size: 1em;
		line-height:1.45;
		font-weight: 400;
		padding: 20px 20px 10px 20px;
		max-width:630px;

		@media screen and (min-width: 600px) {
			font-size: 1em;
		}

		@media screen and (min-width: 1200px) {
			padding: 20px 20px 10px 30px;
		}
	}

	footer p {

		font-size: 1em;
		text-align:left;

		@media screen and (min-width: 600px) { 
			text-align:right;
			max-width:none;
		}
	}
}